
    .topnav {
      overflow: hidden;
      background-color: black;
      font-family: 'Comfortaa', cursive;
    }

    .topnav a {
      float: left;
      color: white;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
    }

    .topnav a.active {
      background-color: #055ff0;
      color: white;
    }

p {
  font-size: 18px
}

h1 {
  font-size: 100px
}
h2 {
  font-size: 50px
}
h3 {
  font-size: 35px
}
h4 {
  font-size: 20px
}
h5 {
font-size: 12px
}
#small{
  font-size: 12px
}

#subtitle{
  font-size:
}

.bolds{
  font-weight: bold
}

table{
  font-size: 20px
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightyellow;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
